@import url('./home.css');
@import url('./navbar.css');
@import url('./user-list.css');
@import url('./profile.css');
@import url('./footer.css');

body {
  font-family: poppins;
}

.homePageDiv {
  max-width: 100vw;
  height: 100vh;
  padding-top: 2rem;
}