.user-list {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
  }
  
  .user-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    width: 300px;
  }
  
  .user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  
  .user-name {
    margin: 0;
    font-size: 16px;
  }
  
  .visit-profile {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .visit-profile:hover {
    background-color: #0056b3;
  }
  
  .allUsersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
    padding: 0 3rem;
  }
  