<div class="user-card">
    <img src={{@user.avatar_url}} alt={{@user.login}} class="user-image">
    <div class="user-info">
      <h3 class="user-name">{{@user.login}}</h3>
      <button class="visit-profile" type="button">
        Visit Profile
      </button>
    </div>
</div>

